    <div class="row">
        <div class="col-md-12">
            
            <div class="panel panel-default">
                <div class="panel-body">
                    <p>Use search to find contacts. You can search by: name, address, phone. Or use the advanced search.</p>
                    <form class="form-horizontal">
                        <div class="form-group">
                            <div class="col-md-2"></div>
                            <div class="col-md-8">
                                <div class="input-group">
                                    <div class="input-group-addon">
                                        <span class="fa fa-search"></span>
                                    </div>
                                    <input ng-model="field_type" type="text" class="form-control" placeholder="Who are you looking for?"/>
                                    <div class="input-group-btn">
                                        <button class="btn btn-primary">Search</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>                                    
                </div>
            </div>
            
        </div>
    </div>
    
    <div class="row">
        <div class="col-md-3" ng-repeat="(key, user) in User.employees | filter : field_type">
            <!-- CONTACT ITEM -->
            <div class="panel panel-default">
                <div class="panel-body profile">
                    <div class="profile-image">
                        <img src="assets/img/{{ user.image }}" alt="Nadia Ali" height="100" width="100" />
                    </div>
                    <div class="profile-data">
                        <div class="profile-data-name" ng-bind="user.name"></div>
                        <div class="profile-data-title" ng-bind="user.field_name"></div>
                    </div>
                    <div class="profile-controls">
                        <a class="profile-control-left"><span class="fa fa-info"></span></a>
                        <a class="profile-control-right" ng-click="User.openContactModal(user.contact)"><span class="fa fa-phone"></span></a>
                    </div>
                </div>                                
                <div class="panel-body">                                    
                    <div class="contact-info">
                        <p><small>Mobile</small><br/><span ng-bind="user.contact"></span></p>
                        <p><small>Email</small><br/><span ng-bind="user.email"></span></p>
                        <p><small>Address</small><br/><span ng-bind="user.city_name"></span>, <span ng-bind="user.provname"></span></p>                         
                    </div>
                </div>                                
            </div>
            <!-- END CONTACT ITEM -->
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <ul class="pagination pagination-sm pull-right push-down-10 push-up-10">
                <li class="disabled"><a href="#">«</a></li>
                <li class="active"><a href="#">1</a></li>
                <li><a href="#">2</a></li>
                <li><a href="#">3</a></li>
                <li><a href="#">4</a></li>                                    
                <li><a href="#">»</a></li>
            </ul>                            
        </div>
    </div>