
<div class="row">
    <div class="col-md-1"></div>
    <div class="col-md-10">
        
        <!-- START TIMELINE FILTER -->                            
        <div class="panel panel-default">                                
            <div class="panel-body">
                <h3>Timeline filter</h3>
                <form class="form-horizontal" role="form">
                <div class="form-group">
                                                            
                    <div class="col-md-8">
                        <div class="input-group">
                            <span class="input-group-addon"><span class="fa fa-search"></span></span>
                            <input type="text" class="form-control" placeholder="Keywords"/>
                        </div>
                    </div>    
                    <div class="col-md-4">
                        <div class="input-group">
                            <span class="input-group-addon add-on"><span class="fa fa-calendar"></span></span>
                            <input type="text" class="form-control datepicker" value="2015-10-06"/>                                                
                        </div>                                            
                    </div>
                    
                </div>
                </form>
            </div>
        </div>
        <!-- END TIMELINE FILTER -->
        
    </div>
    
</div>

<div class="row">
    <div class="col-md-12">
        
    <!-- START TIMELINE -->
    <div class="timeline timeline-right">
        
        <!-- START TIMELINE ITEM -->
        <div class="timeline-item timeline-main">
            <div class="timeline-date">2015</div>
        </div>
        <!-- END TIMELINE ITEM -->
        
        <!-- START TIMELINE ITEM -->
        <div class="timeline-item timeline-item-right" ng-repeat="(key, service) in User.services">
            <div class="timeline-item-info"> {{service.created_at | fromNow}} </div>
            <div class="timeline-item-icon"><span class="fa fa-globe"></span></div>
            <div class="timeline-item-content">
                <div class="timeline-heading">
                    <span class="fa fa-check fa-3x" style="color:#40d47e" ></span> <a href="#">You </a> are served by <a href="#">{{service.name}}</a>
                    <ul class="list-tags">                                            
                        <li><a href="#"><span class="fa fa-wrench"></span> {{service.field_name}}</a></li>
                    </ul>   
                </div>
                <div class="timeline-body">
                    <img ng-src="assets/img/{{service.image}}" class="img-text" width="100" height="100" align="left"/>
                <p>{{service.service_desc}}</p>
                <hr>
                <div class="row">
                    <div class="col-md-6 pull-right">
                        <h4><small>Worker's tags</small></h4>
                        <ul class="list-tags">                                            
                            <li ng-repeat="(key, tag) in service.tags"><a href="#"><span class="fa fa-tag"></span> {{tag}}</a></li>
                        </ul>            
                    </div>
                </div>                                
                </div>
            </div>
        </div>       
        <!-- END TIMELINE ITEM -->
        
     
        
        <!-- START TIMELINE ITEM -->
        <div class="timeline-item timeline-main">
            <div class="timeline-date"><a href="#"><span class="fa fa-ellipsis-h"></span></a></div>
        </div>                                
        <!-- END TIMELINE ITEM -->
    </div>
    <!-- END TIMELINE -->
    
        
    </div>
</div>

