<div class="login-container" style="background-color: #000000">

    <div class="page-header">
     <img src="assets/img/workers.png"  height="150" width="250" />
    </div>
    <div class="login-box animated fadeInDown">
        <div class="login-body">
            <div class="login-title"><strong>Welcome</strong>, Please login</div>
            <form class="m-t" role="form" action="#" style="color: black" ng-submit="User.login ($event)">
            <div class="form-group">
                <div class="col-md-14">
                    <input type="text" class="form-control" required="" ng-model="User.credentials.username" placeholder="Username"/>
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-14">
                    <input type="password" class="form-control" required="" ng-model="User.credentials.password" placeholder="Password"/>
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-6">
                    <button type="submit" ng-disabled="form.$invalid || dataLoading" class="btn btn-info btn-block">Log In</button>
                </div>
            </div>
            </form>
        </div>
        <div class="login-footer" style="margin-top: 5%">
            <div class="pull-left">
                &copy; 2015 PHWorks
            </div>
            <div class="pull-right">
                <a href="#">About</a> |
                <a href="#">Privacy</a> |
                <a href="#">Contact Us</a>
            </div>
        </div>
    </div>
    
</div>
